@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



.maylike-products-wrapper h2{
  text-align: center;
  color: #324d67;
  overflow: hidden;
  font-size: 28px;
  flex-wrap: nowrap;
  white-space: nowrap;
  
}
.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 26s linear infinite;
  overflow:  hidden;
  flex-wrap: nowrap;

  overflow-x: hidden;
  /* width: 800%; */
}
.maylike-products-container{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.marquee-text{
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #f02d34;
}
.marquee {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow:  hidden;
  flex-wrap: nowrap;
}

.track:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-75%); }
}

.green-gradient-background{
  background-image: linear-gradient(to right, #64DD17 0%, #000000 100%);
	background-size: 400% 400%;
	animation: gradient 10.5s ease infinite;
  padding: 0;
  margin: 0;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}